extends ./default/index.pug

block vars
	-	var pageTitle = '- Home'
	-	var bodyClass = 'home'

block content
	include ./subtemplates/header
	.container
		.home__banner-tv
			h1 clarins
			img(src="http://via.placeholder.com/1280x300")/
		.home__bestseller
			h1.home__bestseller-title Mais vendidos
			div.js-carousel
				- var n = 0;
				while n < 6
					div.home__bestseller-item(id=n++)
						img(src="http://via.placeholder.com/300x300").home__bestseller-image
						a.home__bestseller-btnsee ver produtos
		.home__department
			nav.home__department-menuAside
				div.home__menuAside-category
					h1.home__menuAside-title Tipos de Cabelo
					ul.home__menuAside-links
						li
							a Cacheados
				div.home__menuAside-category
					h1.home__menuAside-title Benefícios
					ul.home__menuAside-links
						li
							a Cacheados
				div.home__menuAside-category
					h1.home__menuAside-title Finalizadores
					ul.home__menuAside-links
						li
							a Cacheados
				div.home__menuAside-category
					h1.home__menuAside-title Kits Completos
					ul.home__menuAside-links
						li
							a Cacheados
				div.home__menuAside-category
					h1.home__menuAside-title Linha Homme
					ul.home__menuAside-links
						li
							a Cacheados
				div.home__menuAside-category
					h1.home__menuAside-title Pro Fiber
					ul.home__menuAside-links
						li
							a Cacheados
			div.home__department-shelve
				include ./shelves/Shelf.pug
				include ./components/category-banners.pug
		div.home__info
			h4 Época cosméticos | uma empresa do grupo Magazineluiza
			p A época acredita no poder transformador de explorar a própria beleza. Porque ser capaz de explorar sua beleza é exprimentar mil formas de se sentir bela e dessa forma se descobrir dela. Quer saber mais sobre a gente? Somos o e-commerce mais completo.. #[a continue lendo]
		
		include ./subtemplates/footer.pug



block scripts
