//colors
$c-gray-darker: #999;
$c-gray-lighter: #ccc;
$c-base: #ff1cae;
$c-black: #000000;
$c-white: #ffffff; 



//space
$s-xs: 5px;
$s-sm: 10px;
$s-md: 20px;
$s-lg: 30px;
$s-xl: 40px;
$s-hg: 50px;
$s-xh: 60px;

//font size
$f-size-mi: 10px;
$f-size-xs: 12px;
$f-size-sm: 14px;
$f-size-md: 16px;
$f-size-sd: 18px;
$f-size-lg: 20px;
$f-size-xl: 22px;
$f-size-hg: 26px;
$f-size-xh: 30px;