div.category-banners
	h1 Categorias
	div.category-banners__categories
		div.category-banners__item
			img(src="http://via.placeholder.com/360x300")
			h2 Tratamento
			a(href="#") ver produtos
		div.category-banners__item
			img(src="http://via.placeholder.com/360x300")
			h2 Tratamento
			a(href="#") ver produtos
		div.category-banners__item
			img(src="http://via.placeholder.com/360x300")
			h2 Tratamento
			a(href="#") ver produtos
		div.category-banners__item
			img(src="http://via.placeholder.com/360x300")
			h2 Tratamento
			a(href="#") ver produtos