.home {

	&__banner {
		&-tv {
			text-align: center;

			h1 {
				margin: $s-lg 0;
				text-transform: uppercase;
			}
		}
	}

	&__bestseller {
		margin: $s-lg 0;
		text-align: center;

		&-title {
			color: $c-black;
		}

		&-item {
			overflow: -webkit-paged-x;
		}

		&-image {
			margin: 0 auto;
			border: 1px solid $c-black;
		}

		&-btnsee {
			z-index: 5;
			background-color: $c-black;
			padding: $s-sm $s-lg;
			color: $c-white;
		}
	}

	&__department {
		display: flex;
		justify-content: space-between;

		&-shelve {
			flex: 0 1 75%;
		}
		&-menuAside {
			flex: 0 1 20%;
		}
	}

	&__info {
		margin: $s-md 0;

		p {
			color: $c-gray-darker;
		}
	}

	&__menuAside {
		&-category {
			margin: $s-md 0;
		}

		&-title {
			font-weight: bolder;
			font-size: $f-size-sm;
			padding-bottom: $s-xs;
			border-bottom: 1px solid $c-gray-lighter;
		}

		&-links {
			list-style: none;
			padding: 0;
			margin: $s-sm 0;
		}
	}
}