footer.footer
	.footer__top
		div.footer__top-links
		div.footer__top-paymentAndSocial
	.footer__bottom
		.footer__security
			img(src="http://via.placeholder.com/50x50")
			img(src="http://via.placeholder.com/50x50")
			img(src="http://via.placeholder.com/50x50")
			img(src="http://via.placeholder.com/50x50")
		.footer__copyright
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor leo, tempus dictum enim quis, faucibus tincidunt nisl. In condimentum ante purus, eget laoreet est porttitor scelerisque. 