header.header
	.container
		div.header__top
			div.header__top-empty
			p.header__top-message
				b frete grátis
				span nas compras acima de R$110
			nav.header__top-nav
				ul
					li 
						a(href="") Televendas:(21) 3202-7555
					li
						a(href="") Meus pedidos
					li 
						a(href="") Atendimento
		div.header__bottom
			div.header__logo
			div.header__search
				form.header__search-form
					div.input__item
						input(name="search" placeholder="Oi, o que procura hoje? :) ")/
						button(type="submit")
							span buscar
			div.header__actions
				div.header__actions-welcome
					h4 Oie!
					span vem fazer seu login :)
				div.header__actions-minicart
		div.header__menu
			nav.menu
				ul
					li 
						a(href="") Ver Categorias
					li 
						a(href="") Perfumes
					li 
						a(href="") Cabelos
					li 
						a(href="") Maquiagem
					li 
						a(href="") Dermocosméticos
					li 
						a(href="") Tratamentos
					li 
						a(href="") Homem
					li 
						a(href="") Brindes
					li 
						a(href="") Oba Desconto!
					li 
						a(href="") Marcas
